*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

img{
    height: 300px;
    width: 400px;
    margin-left: 30px;
    margin-bottom: 10px;

}
@media (max-width:900px) {
    
    header{
        display: grid;
        grid-template-columns: 1fr 1fr;
    
    }
    }
@media (max-width:500px) {
    
header{
    display: grid;
    grid-template-columns: 1fr;

}
}