* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #344fa1;
  color: whitesmoke;
}

h1 {
  text-align: center;
  margin-top: 100px;
}

main {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
main input {
  height: 40px;
  width: 300px;
  padding-left: 10px;
  border-radius: 15px;
  border: none;
}
main button {
  height: 40px;
  width: 150px;
  background-color: #ce18ec;
  color: whitesmoke;
  font-weight: 700;
  font-size: 0.8rem;
  border-radius: 15px;
  border: none;
  margin-left: 15px;
}
p {
  font-size: 1.5rem;
  margin-bottom: 6px;
}

.box button {
  height: 40px;
  width: 220px;
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 0.9rem;
  color: #000;
}
#remove,
#edit-task {
  background-color: #fff;
}
#mark-complete {
  background-color: green;
  color: #fff;
}

.active {
  background-color: yellow;
  border: 1px solid red;
  color: #fff;
  height: 200px;
  width: 700px;
}

.box {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  border: none;
  background-color: #031956;
  padding: 1rem;
  width: 350px;
  height: 260px;
  margin-left: 100px;
  border-radius: 15px;
}

#container {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 200px;
  width: 500px;
  background-color: #9564f3;
  border-radius: 35px;
  margin-left: 500px;
  margin-top: -200px;
}

#container input {
  height: 40px;
  width: 250px;
  margin-bottom: 10px;
  border-radius: 15px;
  border: none;
  padding-left: 15px;
  font-weight: 600;
  font-size: 0.8rem;
}

#container button {
  background-color: #2f047f;
  color: whitesmoke;
  height: 40px;
  width: 150px;
  margin-bottom: 10px;
  border-radius: 15px;
  border: none;
  font-weight: 600;
}
